@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --primary: 248 90% 66%;
    --input: 214 32% 91%;
    --ring: 248 90% 66%;
    --border: 214 32% 91%;
  }
}

body {
  font-family: 'Shippori Mincho', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}